*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* search bar */
.search-bar{
   position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    margin-left: -150px;
    margin-top: 5px;
    border: 2px solid rgb(3, 3, 3);
    border-radius: 50px;
    padding: 5px;
}
#first_category_h{
margin-top: 150px;
margin-bottom: 20px;
}
.search-bar img{
    position: relative;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}
.search-bar input {
    margin: 5px;
    border: none;
    height: 20px;
    background: none;
    letter-spacing: 1px;
}
input:focus{
    outline: none;
    font-size:13px ;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo{
    padding-top: 10px;
    padding-left: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
}
nav ul li a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
/* nav ul li a:hover{
    transform: translateY(-20px);
} */
.cart{
    margin-top: 20px;
    transition: 1s;
}
.cart:hover{
    transform: rotate(360deg);
}
.cart img{
    width:40px;
    height:40px;
}
p{
    color: black;
}
.main{
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}
.main-text{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.main h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.main-img{
    flex-basis: 50%;
    min-width: 300px;

}
.main-img img {
    max-width: 60%;
    padding: 50px 0px;
    margin-left: 200px;
}
.main-text a {
    text-decoration: none;
}
.btn{
    line-height: 10px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline;
    top: 50px;
    position: relative;
    transition: 1s;
    color: black;
    
}
.btn:hover{
    color: white;
    border: transparent;
    background-color:rgb(4, 184, 255);
    box-shadow:rgb(26, 28, 29)0px 0px 2px 2px;
}
button:focus{
    outline: none;
}

.header{
    height: 100vh;
    width: 100vw;
    background: radial-gradient(rgb(248, 245, 245),rgb(5, 171, 236));
}
.categories{
    margin: 70px 0;
    display: flex;
}
.col-1{
    min-width: 250px;
    margin: 5px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 5px;

}
#categories .col-1{
    background: rgb(248, 245, 245);
    border: 1px solid black;
}
.col-1 img{
    height: 300px;
    width: 300px;
}
#categories{
    margin: 20px 0;
}
.categories-h{
align-items: center;
padding-left: 20%;
    display: flex;
    width: 100%;
}
.categories-h h3{
    margin-right: 90px;
    flex-basis: 20%;
    margin-left: 0;
    margin-bottom: 0;
}
.row{
    padding-right: 25px;
    display: flex;
    height: 45%;
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
}
.title {
    text-align: center;
    margin: 30px auto 50px;
    position: relative;
    line-height: 60px;
    color: rgb(54, 46, 46);
}
.title:after{
    content: '';
    background:rgb(5, 171, 236);
    width: 80px;
    height: 5px;
    border: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#row{
    left: 5px;
    justify-content: center;
}
.img1{
    flex-basis: 25%;
    width: 100px;
    min-width: 200px;
    background-color: rgba(241, 235, 235, 0.575);
    margin-left: 10px;
    margin-right: 10px;

}
.row p{
    margin-left: 15px;
    display: inline-block;
    margin-bottom: 50px;
}
.row h4{
    margin-left: 10px;
}
.col-2{
    transition:  0.3s;
}
.col-2:hover{
    transform: translateY(-10px);
}
/* Last discount odder  */
.big-container .row img{
    height: 500px;
    width: 500px;

}
#last-row{
    justify-content: center;
    align-content: center;
}
.big{
    background: radial-gradient(rgb(248, 245, 245),rgb(5, 171, 236));
    margin-top: 50px;
    padding: 30px 0px; 
}
.last-img{
    padding: 50px;
}
#last-row a{
    text-decoration: none;
}

/* customer review */

#review{
    margin-top: 50px;
    justify-content: center;
}
.customers-div{
    flex-basis: 15%;
    padding: 10px;
    background-color: rgba(241, 235, 235, 0.575);
    margin: 10px;
    border-radius:2px ;
    box-shadow: rgba(179, 172, 172, 0.877) 0px 0px 10px 1px;
    transition: .5s;
}
.customers-div h4{
    text-align: center;
    line-height: 20px;
}
.customer_img{
    margin-left: 37%;
    height: 70px;
    width: 70px;
    border-radius:50%;
    margin-top: 5px;
    background-color: rgba(241, 235, 235, 0.575);
         
}
.customers-div small{
    text-align: center;
    justify-content: center;

}
.customers-div:hover{
    transform: translateY(-15px);
}

/* footer */
.footer{
    margin-top: 50px;
    background: linear-gradient(white,rgb(109, 103, 103));
    border: none;
    box-shadow: rgb(78, 75, 75) -1px -1px 3px;
}

.footer .container{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
}

.fot-col-1{
    margin: 20px 0 0 5px;
    flex-basis: 20%;
    border: none;
    border-right: 1px solid gray;
}
.fot-col-2{
    text-align: center;

}
.fot-col-3{
    flex-basis: 15%;
    text-align: center;
    padding: 5px;
   border: none;
   border-left: 1px solid gray;
   
}
.fot-col-3 h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.fot-col-3 a {
    color: black;
}
ul{
    list-style: none;
    margin-top: 25px;
}
ul li{
    margin-top: 8px;
}
.fot-col-1 img {
    width: 100px;
    height: 30px;
    margin: 5px;
}
a{
    cursor: pointer;
    transition: .7s;
}
.navbar a:hover{
    color: rgba(252, 3, 3, 0.63);
    /* margin-right: 5px; */
  
    letter-spacing: 3px;
   
}
/* copyright */
.copy hr{
    border: 1px solid black;
    background-color: black;
    height: 1px;
    width: 88%;
    margin: 5px 0 5px 80px;
}
.copy{
    
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*                                    All Products  Page                   */
/*    Selection option menue */
#option-menue{
    text-align: center;
    justify-content: center;
    margin: 50px;
}
#option-menue h2{
    margin-left: 30px;
}
.select-menue{
    margin-right: 200px;
    height: 30px;
    border: 2px solid rgb(3, 181, 252);
    border-radius: 7px;
    margin-top: 25px;
    padding: 5px;
}
.select-menue:focus{
    outline: none;
}
.img2{
        flex-basis: 25%;
        width: 100px;
        min-width: 350px;
        background-color: rgba(241, 235, 235, 0.575);
        margin-left: 10px;
        margin-right: 10px;
    
}
/* page counter */
.page-counter{
    display: inline-block;
    position: relative;
    padding: 8px;
    left: 20%;
    border: 1px solid black;
    background-color: transparent;
    margin: 10px;
    transition: .5s;

}
.page-counter h4{
    margin: 0 5px;
    display: inline;
}
.page-counter:hover{
    background-color: rgb(180, 182, 182);
    box-shadow: rgb(211, 214, 214) 0 0 8px;
}

/* ----------------------Contact Page ------------ */
.main-cont{
    margin: 5% 10% 0 10%;
    display: flex;
}
.side-cont{
    left: 100px;
    flex-basis: 22%;
    height: 400px;
    position: relative;
    z-index: 1;
    top: -5px;
    padding: 20px 10px;
    align-items: center;
    text-align: center;
    background: #0f3959;
    color: rgb(230, 223, 223);
    border-radius: 3px;
    box-shadow:#0f3959 0 0 5px;

}
.side-cont h2{
    margin-bottom: 30px;
    color: rgb(230, 223, 223);
}
.side-cont p{
    margin: 10px 0;
    color: rgb(230, 223, 223);
    font-size: 13px;
}

.mid-cont{
    color: rgb(230, 223, 223);
    background: linear-gradient(rgb(66, 66, 70),#0f3959);
    flex-basis: 60%;
    height: 500px;
    position: relative;
    right: -70px;
    top: -20px;
    padding: 50px 0 10px 70px;
    border-radius: 3px;
    box-shadow:rgb(126, 122, 122) 0 0 10px ;
}
.mid-cont h1,span{
    margin: 5px;
}
.mid-cont span{
    display: inline-block;
    margin-top: 35px;
    justify-content: space-around;
    font-size: 12px;
}
.classinputs1{
    display: inline-block;
}
.classinputs2{
    margin-left: 40px;
    display: inline-block;
}
.classinputs3{
    display: inline-block;
}
.classinputs4{
    margin-left: 78px;
    display: inline-block;
}
.classinputs5{
    display: inline-block;

}
.type-area{
    margin-top: 10px;
    
    border: 1px solid white;
    background: transparent;

}
.type-area::placeholder{
    margin: 10px;
    padding: 10px;
}
.type-area:focus::placeholder{
    font-size: 30px;
}
.mid-cont input{
    color: white;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    background: transparent;
}

.mid-cont button{
    position: relative;
    right: 85%;
    margin-top: 5px;
}

/*              ----- login page ------ */
#login-img{
    margin-left: 20px;
}
#login-img img{
    height: 250px;
    width: 250px;
}
.account{
    margin-top: 40px;
    padding: 50px ;
    background:radial-gradient(rgba(248, 245, 245, 0.493),rgba(5, 170, 236, 0.452));
}
.form{
    background: rgba(241, 235, 235, 0.575);
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0px;
    margin: 70px auto;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgb(5, 171, 236);
    transition: 1s;
    overflow: hidden;
    
}
.form span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form form{
    max-width: 300px;
    padding: 0 40px;
    position: absolute;
    top: 130px;
    transition: .5s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid rgb(204, 204, 204);
}
form .btn{
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#login{
    left: 0px;
}
#signup{
    left:-300px;
}
form a{
    font-size: 10px;
    position: relative;
    top: 45px;

}
#indicator{
    width: 50%;
    border: none;
    background:  rgb(5, 171, 236);
    height: 4px;
    margin-top: 5px;
    /* transform: translateX(100px); */
    transition: .5s;
}
.form input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}
.logos{
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 200px;
}
.logos img{
    flex-basis: 15%;
    height: 40%;
    width: 5%;
    margin: 60px;
}

/*       ---- cart page */
.itemdetails-container{
    margin: 80px 150px;
    border-top: none;
    padding-right: 10px;
    margin-top: 20px;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;

}
.cart-info div{
    margin-top: 10px;
    padding-left: 10px;
}
th{
    text-align: left;
    padding: 10px 5px;
    color: #fff;
    background:  rgb(5, 171, 236);
}
td{
    padding: 10px 5px;
}
td p,small{
    margin: 5px 0;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:  rgb(206, 50, 22);
    font-size: 13px;
    text-decoration: none;
    margin: 5px 0;

}
td img{
    width: 80px;
    height: 80px;
    background-color:rgb(248, 245, 245);
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 2px solid  rgb(5, 171, 236);
    width: 100%;
    max-width: 500px;
    
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.check-btn-container{
    display: flex;
    align-items: right;
    justify-content: right;
}
#checkout-btn{
    flex-basis: 30%;
    position: relative;
    right: -885px;
    top: -70px;

}

/*       ---item detail--- */

.small-container{
    height: 100%;
    display: flex;
    margin-top: 80px;
    margin-left: 20%;
    align-items: center;
    justify-content: center;

}

.item-detail-main-img{
    flex-basis: 30%;
    display: inline-block;
}
#cart-btn{
    top: 0px;
}
.item-detail-main-img img{
    width: 100%;
    padding: 0;
    height: 70%;
    background: rgb(230, 223, 223);
}
.item-detail-main-text{
    margin-bottom: 100px;
    padding-top: 60px;
    margin-left: 30px;

}
.small-container .row .item-detail-main-text h3{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.item-detail-main-text h4{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.small-container p{
    margin-bottom: 20px;
    margin-left: 0;
    line-height: 30px;
}
.small-container select{
    display: block;
    padding :10px;
    margin: 10px 0;
    margin-top: 20px;
    border: 1px solid rgb(3, 181, 252);
}
.small-container input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(3, 181, 252);

}
input:focus{
    outline: none;
}
.item-detail-cart-btn{
    padding: 7px 20px;
    border: 1px solid black;
    margin: 5px;
    top: 0px;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 50px;
    transition: .5s;
    width: 150px;
}

.img-gallery-row{
    display: flex;
    justify-content: space-between;

}
.img-gallery-col{
    flex-basis: 24%;
    cursor: pointer;
}
#side-title{
    margin-top: 50px;

}

/*                                 -------billing details---- */

.billing-details{
   display: flex;
    margin: 1% 10%;
    padding: 20px;

}
.billing-info{
flex-basis: 70%;
padding-left: 30px;
}
.billing-info h3{
    display: inline-block;
    margin: 5px 0;
}
.billing-info p{
    display: inline-block;
}

.billing-h{
    margin: 20px 10%;
}
.billing-h th:last-child{
    text-align: left;
}

